<!doctype html>
<html ng-app="robotApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="./src/robot.js"></script>
    <link rel="stylesheet" href="./css/robot.css">
  </head>
  <body>
    <div id="div1" ng-controller="RobotController">
      <h2>Robby the robot.</h2>
      <div ng-controller="RoomController">
        <p>Choose room for Robby:</p>
        <input type="radio" ng-click="handleQuadratic()" name="type">Quadratic</input>
        </br>
        <input type="radio" ng-click="handleCircular()" name="type">Circular</input>
        <div class="iframe-container">
          <iframe id="iframe1" src="" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      <form ng-submit="handleStartPosition()">
        <p>Choose starting position: </p>
        <input type="text" ng-model="startX" size = 10 
          placeholder="Choose x" id="startX">
        <input type="text" ng-model="startY" size = 10
          placeholder="Choose y" id="startY">
        <input class="btn-primary" type="submit" value="Submit">
      </form>
      <p>Current position is: ({{x}}, {{y}}).</p>
      <form ng-submit="handleInput()">
        <input type="text" ng-model="inputText"  size="30"
          placeholder="Write robot input" id="input">
        <input class="btn-primary" type="submit" value="Submit">
      </form>
      <p>Robot output: {{output}}</p>
      <button ng-click="handleReset()">Reset</button> 
    </div>
  </body>
</html>