<!doctype html>
<html ng-app="robotApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="./src/robot.js"></script>
    <link rel="stylesheet" href="./css/robot.css">
  </head>
  <body>
    <div id="div1" ng-controller="RobotController">
      <h2>Robby the robot.</h2>
      <div>
        <p>Choose room for Robby:</p>
        <input type="radio" onclick="handleQuadratic()" name="type">Quadratic</input>
        </br>
        <input type="radio" onclick="handleCircular()" name="type">Circular</input>
          <div id="quadratic" style="visibility: hidden">
            <form ng-submit="handleHeightWidth()">
              <input type="text" ng-model="height"  size="10"
                placeholder="Height" id="height">
                <input type="text" ng-model="width"  size="10"
                  placeholder="Width" id="width">
              <input class="btn-primary" type="submit" value="Submit">
            </form>
          </div>
          <div id="circular" style="visibility: hidden">
            <form ng-submit="handleRadius()">
              <input type="text" ng-model="radius"  size="10"
                placeholder="Radius" id="radius">
              <input class="btn-primary" type="submit" value="Submit">
            </form>
          </div>
      </div>
      <form ng-submit="handleStartPosition()">
        <p>Choose starting position: </p>
        <input type="text" ng-model="startX" size = 10 
          placeholder="Choose x" id="startX">
        <input type="text" ng-model="startY" size = 10
          placeholder="Choose y" id="startY">
        <input class="btn-primary" type="submit" value="Submit">
      </form>
      <p>Current position is: ({{x}}, {{y}}).</p>
      <form ng-submit="handleInput()">
        <input type="text" ng-model="inputText"  size="30"
          placeholder="Write robot input" id="input">
        <input class="btn-primary" type="submit" value="Submit">
      </form>
      <p>Robot output: {{output}}</p>
      <button ng-click="handleReset()">Reset</button> 
    </div>
  </body>

  <script>

    function handleQuadratic() {
      var quad = document.getElementById("quadratic");
      var circ = document.getElementById("circular")
      if (quad.style.visibility === "hidden") {
        quad.style.visibility = "visible";
      }
      if (circ.style.visibility === "visible"){
        circ.style.visibility = "hidden"
      }
    }

    function handleCircular() {
      var circ = document.getElementById("circular");
      var quad = document.getElementById("quadratic");
      if (circ.style.visibility === "hidden") {
        circ.style.visibility = "visible";
      }
      if (quad.style.visibility === "visible"){
        quad.style.visibility = "hidden"
      }
    }

  </script>
</html>